.bebra {
    background-color: lightgreen;
}
main {
    margin: 20px;
}
h2 {
    color: rgba(1, 149, 183, 0.703);
}
a {
    color: rgba(0, 196, 218, 0.838);
}
h1 {
    text-align: center;
    color: #00CCCC ;
}
